package components

import "strconv"

css border() {
	border: 1px solid #eeeeee;
	border-radius: 4px;
	margin: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
}

templ counts(expectedRolls int, levelOptions []string) {
	<form id="countsForm" action="/" method="POST" hx-post="/" hx-select="#countsForm" hx-swap="outerHTML">
		<div class="columns">
			<div class={ "column", "has-text-centered", "is-primary", border }>
				<h1 class="title is-size-1 has-text-centered"></h1>
				<p class="subtitle has-text-centered">Global</p>
				<div><button class="button is-primary" type="submit" name="global" value="global">+1</button></div>
			</div>
			<div class={ "column", "has-text-centered", border }>
				<div>
					<label for="level">Level</label>
					<select id="levelDropdown" name="levelDropdown">
            			for _, item := range levelOptions {
            				<option>{item}</option>
            			}
        			</select>
					<label for="tier">Tier</label>
					<select id="tierDropdown" name="tierDropdown">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
					<label for="goalDropdown">Goal</label>
					<select id="goalDropdown" name="goalDropdown">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
					</select>
					<label for="copiesOwned">Copies Owned</label>
					<input id="copiesOwned" name="copiesOwned" type="text">
					<label for="tierOwned">Tier Owned</label>
					<input id="tierOwned" name="tierOwned" type="text">
				</div>
				<div><button class="button is-secondary" type="submit" name="session" value="session">Calculate</button></div>
				<h1 class="title is-size-1 has-text-centered">{ strconv.Itoa(expectedRolls) }</h1>
			</div>
		</div>
	</form>
}

templ Page(expectedRolls int, levelOptions []string) {
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>TFTCalculator</title>
			<link rel="stylesheet" href="/assets/css/bulma.min.css"/>
			<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png"/>
			<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png"/>
			<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png"/>
			<link rel="manifest" href="/assets/favicon/site.webmanifest"/>
			<script src="/assets/js/htmx.min.js"></script>
		</head>
		<body class="bg-gray-100">
			<header class="hero is-primary">
				<div class="hero-body">
					<div class="container">
						<h1 class="title">Counts</h1>
					</div>
				</div>
			</header>
			<section class="section">
				<div class="container">
					<div class="columns is-centered">
						<div class="column is-half">
							@counts(expectedRolls, levelOptions)
						</div>
					</div>
				</div>
			</section>
		</body>
	</html>
}